$br: 40px;
$br1:25px;
$br2: 20px;
@mixin tyc{
    #contFS{
        position: absolute;
        z-index: 9;
        width: 100vw;
        height: 100vh;
        overflow:hidden;
        background: linear-gradient(15deg, #0066ff, #5500ff);

        display: flex;
        justify-content: center;
        align-items: center;
        #contElementsTYC{
            position: absolute;
            z-index: 10;
            top: 0vh;
            width: auto;
            height: 100%;

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            #isologotipo{
                position: absolute;
                z-index: 11;
                top: 3%;
                width: 12em;
                height: auto;
            }
            #contTyC{
                position: absolute;
                z-index: 12;
                top: 20vh;
                width: 90vw;
                height: 45vh;
                padding: 2%;
                border-radius: $br1;
                box-shadow: 1px 1px 5px #000;
                background-color: white;

                display: flex;
                justify-content: flex-start;
                align-items: center;
                align-content: center;
                flex-direction: column;
                h2{
                    margin: 0.5em;
                    font-size: 1.5em;
                }
                #tyc{
                    width: 86%;
                    height:70%;
                    padding: 0.5em;
                    font-size: 1em;
                    border-radius: 0.2em;
                    overflow:auto;
                    scroll-behavior: smooth;
                    background-color: #e9e9e9;
                }
                #check{
                    width: 86%;
                    height: auto;
                    padding: 0.5em 1em 0.5em 1em;

                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    input[type=checkbox]{
                        width: auto;
                        height: 0.8em;
                        margin-right: 0.2em;
                    }
                    p{
                        width: auto;
                        height: 100%;
                        font-size: 1em;
                    }
                }
                #contButtonTyC{
                    width: 90%;
                    height: 3em;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    #buttonTyC{
                        margin: 0.5em;
                        padding:0.5em;
                        color: white;
                        font-weight: bolder;
                        font-size: 1em;
                        border: none;
                        border-radius: $br1;
                        cursor: pointer;
                        box-shadow: 1px 1px 5px #000;
                        background-color: #0263FF;
                    }
                }
            }
        }
    }
}